
iframe {
    min-width: 100%;
}

/* IMAGES */
.title-img {
    border: 2px blue solid;
    max-height: 70%;
    max-width: 70%;
}

.title-img img {max-width: 100%}

.title-img p {
    max-width: 100%;
}

.bicep2-img {
    min-width: 200px;
    max-width: 650px;
}

/* HEADER STYLING */

header {
    background-color: rgb(154, 218, 154);
    display: flex;
    justify-content: space-between;    
}

.header-buttons{
    display:flex;
    border: 1px red solid;
    
}

/* title container */
.title-container{
    border: 2px blue solid;
    padding: 10px 20px 10px 20px;
}

.title-container hr {
    width: 100%;
}

.title-container img {
    width: 300px;
    /* width: 65%;
    height: 65%; */
}


/* main content */

.main-content {
    border: 3px yellow solid;
    background-color: rgb(192, 127, 127);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}

.main-content p {
    border: 1px blue solid;
    min-width: 200px;
    max-width: 650px;
}

.end-tag{
    border: 1px purple solid;
    /* display: flex; */
}

.mini-aside {
    border: 1px yellow solid;
}

/* main aside */

.main-aside {
    border: 3px orange solid;
    display: flex;
    margin: 5% 5% 5% 5%;
}

.related-posts {
    border: 4px blue solid;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

.related-post-container {
    /* HEADLINE AND IMGS */
    border: 3px purple dotted;
    display: flex;
    flex-direction: column;
}

.related-post-imgs {
    border: 2px green solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content:flex-end; */
}

.related-post-imgs img {
    max-width: 270px;
    max-height: 250px;
}

.related-post-container .header {
    display: flex;
    justify-content: space-between;
}


/* MOST POPULAR SECTION */

.most-popular-section{
    border: 2px purple dashed;
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-size: 21px;
}

.most-popular-section a {
    padding-top: 1em;
}



/*


.. */
/* end section & links */

.end-section {
    border: 3px pink solid;
    margin-left: 5%;
    margin-right: 5%;
}

.end-section .header {
    border: 1px blue solid;
    display: flex;
    justify-content: space-between;
}

#home-page-link {
    border: 1px black solid;
    display:flex;
    align-items: center;
}

.end-section .links {
    border: 3px red solid;
    display: grid;
    grid-template-columns: repeat(5, 2fr) 3fr;
    /* justify-items: end;  */
}
.end-section .links section {
    border: 1px blue dashed;
    width: 150px;
}

.links-1 {
    font-size: 14px;
    border: 1px pink dashed;
    display: flex;
    flex-direction: column;
}

/* footer */

footer {
    border: 3px green solid;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

footer a {
    font-size: 13px;
    margin-left: 10px;
}