body {
    margin: 0;
    padding: 0;
}


/* MEDIA */
.title-img {
    border: 2px blue solid;
    max-height: 70%;
    max-width: 70%;
}

iframe {
    min-width: 100%;
}

.title-img img {max-width: 100%}

.title-img p {
    max-width: 100%;
}

.bicep2-img {
    min-width: 200px;
    max-width: 650px;
}


/* HEADER STYLING */

header {
    background-color: rgb(154, 218, 154);
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.header-buttons{
    display:flex;
    border: 1px red solid;
    
}

header div {
    display: flex;
    align-items: center;
}

header img {
    height: 50%;
    padding-left: 15px;
    padding-right: 15px;
}


/* title container */
.title-container{
    border: 2px blue solid;
    padding: 10px 20px 10px 20px;
}

.title-container hr {
    width: 100%;
}

.title-container img {
    width: 300px;
    /* width: 65%;
    height: 65%; */
}


/* main content */

.main-content {
    border: 3px yellow solid;
    background-color: rgb(192, 127, 127);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}


article {
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
}

.article-credits {
    border: 1px pink solid;
    width: 650px;
}

.article-section {
    border: 1px blue solid;
    min-width: 200px;
    max-width: 650px;
}

/* ARTICLE INFOGRAPHIC */

.article-infographic {
    border: 3px hotpink solid;
    max-width: 75%; 
    min-height: 700px;
    /* same width as article */
}

.infographic-grid {
    position: relative;
}

.infographic-grid img {
    width: 100%;
    min-width: 1000px;
}

.infographic-grid p{
    position: absolute;
    max-width: 25%;
    font-size: 15px;
}

.row1 {top: 25%; padding: 5px}
#para-1{left: 0%}
#para-2{left: 25%}
#para-3{left: 50%}
#para-4{left: 75%}

.row2 {bottom: 0%}
#para-5{left: 0%}
#para-6{left: 25%}
#para-7{left: 50%}
#para-8{left: 75%}


/* ____________________ */ 

.end-tag{
    border: 2px purple solid;
}

.end-tag p {
    border: 1px red solid;
    min-width: 600px;
}

.end-tag-buttons {
    display: flex;
    justify-content: space-between;
}


/* mini aside */

.mini-aside {
    border: 1px yellow solid;
}

/* main aside */

.main-aside {
    border: 3px orange solid;
    display: flex;
    margin: 5% 5% 5% 5%;
}

.related-posts {
    border: 4px blue solid;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

.related-post-container {
    /* HEADLINE AND IMGS */
    border: 3px purple dotted;
    display: flex;
    flex-direction: column;
}

.related-post-imgs {
    border: 2px green solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.related-post-imgs img {
    max-width: 270px;
    max-height: 250px;
}

/* .related-post-imgs div {
    border: 2px grey solid;
    margin-left: 10px;
    
} */



.related-post-container .header {
    display: flex;
    justify-content: space-between;
}


/* MOST POPULAR SECTION */

.most-popular-section{
    background-color: yellow;
    border: 2px purple dashed;
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-size: 21px;
}

.most-popular-section a {
    padding-top: 1em;
}
/* 
.most-popular-section hr{
    color: black;
} */



/*


.. */
/* end section & links */

.end-section {
    border: 3px pink solid;
    margin-left: 5%;
    margin-right: 5%;
}

.end-section .header {
    border: 1px blue solid;
    display: flex;
    justify-content: space-between;
}

#home-page-link {
    border: 1px black solid;
    display:flex;
    align-items: center;
}

.end-section .links {
    border: 3px red solid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* justify-items: end;  */
}
.end-section .links section {
    border: 1px blue dashed;
    min-width: 170px;
}

.subscribe, .versions{
    display: flex;
    flex-direction: column;
}

.links-1 {
    font-size: 14px;
    border: 1px pink dashed;
    display: flex;
    flex-direction: column;
}



/* footer */

footer {
    border: 3px green solid;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

footer a {
    font-size: 13px;
    margin-left: 10px;
}