header {
    background-color: rgb(154, 218, 154);
    display: flex;
    justify-content: space-between;    
}

.header-buttons{
    display:flex;
    border: 1px red solid;
}

.main-content {
    border: 3px yellow solid;
    background-color: rgb(192, 127, 127);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}

.main-content p {
    border: 1px blue solid;
    min-width: 200px;
    max-width: 650px;
}

.end-tag{
    border: 1px purple solid;
    /* display: flex; */
}

.mini-aside {
    border: 1px yellow solid;
}

.main-aside {
    border: 3px orange solid;
}

.end-section {
    border: 2px pink solid;
}

footer {
    border: 3px green solid;
}